asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
Deprecated==1.2.13
Django==4.1.5
idna==3.4
opentelemetry-api==1.15.0
opentelemetry-instrumentation==0.36b0
opentelemetry-instrumentation-django==0.36b0
opentelemetry-instrumentation-wsgi==0.36b0
opentelemetry-sdk==1.15.0
opentelemetry-semantic-conventions==0.36b0
opentelemetry-util-http==0.36b0
requests==2.28.2
sqlparse==0.4.3
typing_extensions==4.4.0
urllib3==1.26.14
uWSGI==2.0.21
wrapt==1.14.1
# tracing
# opentelemetry-sdk==1.16.0
# opentelemetry-instrumentation-django==0.37b0
